  /* css de top de page  */
.topdepage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px ;
    padding-top: 25px;


}

h1 span {
    color: red;
}

.linkss {
display: flex;
gap: 20px;

}
.linkss a{
    color: grey;
    text-decoration: none;

}
#drop{border: none;

}
#drop:hover{
    color: black;
    text-decoration:underline  red ;
    
}

.lbotona button {
   
      padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:red;
}
.linkss a:hover{
    color: black;
    text-decoration:underline  red ;
    
}
/* css dyal section 2  */
.section2{
    background-color: rgb(241, 224, 224);
    height: 100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.leftone{
height: 100vh;
width:50vw;
 padding: 200px 50px ;
 



}
.rightone{
    width: 50vw;
    height: 100vh;
 padding :20px 20px  ;
  


}
.buttonlowla{
    padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:red;

}
.buttontanya {
 
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
 
  color:black;
  text-decoration: none;
  border-radius: 8px;
  
 
}

.buttontanya:hover {
  color: #cc0000;
}


@keyframes thrika {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}




.rightone img  {
  animation: thrika 2s infinite ease-in-out;
}

/* sectionabout us */
  .aboutus h1{
display: flex;
align-items: center;
justify-content: center;


}
 .aboutus h1 span{
    color: red;
}

/* section4dyal cards  */

.cardskolchy{
    display: flex;
    align-items: center;
   gap: 50px;
   
    padding: 20px 100px;
    background-color: antiquewhite;

}
.lcard1{
    background-color: red;
    color: white;
    width: 800px;
    height:400px ;
}
.lcard2 {
    background-color: white;
    color: black;
    width: 500px;
    height: 400px;
}