  /* css de top de page  */
.topdepage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px ;
    padding-top: 25px;


}

h1 span {
    color: red;
}

.linkss {
display: flex;
gap: 20px;

}
.linkss a{
    color: grey;
    text-decoration: none;

}

.lbotona button {
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 10px 25px ;
    border: none;
}
.linkss a:hover{
    color: black;
    text-decoration:underline  red ;
    
}
/* css dyal section 2  */
.section2{
    background-color: rgb(241, 224, 224);
    height: 100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.leftone{
height: 100vh;
width:50vw;
 padding: 200px 50px ;
 



}
.rightone{
    width: 50vw;
    height: 100vh;
 padding :20px 20px  ;
  


}
.buttonlowla{
     color: white;
    background-color: red;
    border-radius: 50%;
    padding: 10px 25px ;
    border: none;

}

.buttontanya{
    border: none;
    background-color: transparent; 
}
@keyframes thrika {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.rightone img  {
  animation: thrika 2s infinite ease-in-out;
}
