.tswirat{
    position: relative;
    overflow: hidden;
}
.l3aybalkahla{
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    width: 700px;
 filter: brightness(0) invert(1);//l3aks dyaal loun bach 3tatny loun byad

}
.l3aybadyalhover{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    position: relative;
height: 100px;
   width: 100px;   
   bottom :350px ;
   left: 300px;
 background-color: gray;
 display: none;
   
}



