.tswirat{
    position: relative;
    overflow: hidden;
}
.l3aybalkahla{
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    width: 700px;
 filter: brightness(0) invert(1);//l3aks dyaal loun bach 3tatny loun byad

}
.l3aybadyalhover{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    position: relative;
height: 100px;
   width: 100px;   
   bottom :350px ;
   left: 300px;
 background-color:rgb(255, 228, 228);
 display: none;
   
}
.chefsbootstra{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  align-items: center;


    h1 ,h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2 span{
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#modcar{
    display: flex;
    gap: 20px;
}
.chefs:hover{
    transform: scale(1.1) translateY(-10px);

}




