







 /* section 5 menu  */
 




/* lfooter section  */

.footer {
  background-color: black;
  color: white;
  padding: 40px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer a {
  color: white;
}

.finalfooter {
  background-color: black;
  color: white;
  padding: 40px  20px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finalfooter span {
  color: orange;
}
.adress i  , .contacts i , .OpeningHours i{
    color :red ;
}
  /* dek l3aiba dyal liktl3 l top */
  .back-to-top {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #e96b56;
 
  opacity: 1;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
}
.back-to-top i {
  color: white;
position: absolute;
    top: 40%;
    left: 30%;
 }
.back-to-top .back-to-top a {
  padding-top: 10px;
  text-decoration: none;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}
.back-to-top .back-to-top a i {
  color: white;
}