.picsgallery{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
      transition: transform 0.5s ease;
}
.indicator{

    display: flex;
    gap: 10px;
    justify-content: center;
   
    bottom: 20px;
    left: 45%;
}
.indicator div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
.indicator{
    background-color: black;}
   
