

.modaldiv{

.modaldiv{
 
    .modaldiv {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;        
  background: rgba(0,0,0,0.5);

  display: none;       
}

  
}
.close{
    display: none;
position: absolute;
padding: 5px 10px;
right:20px;
top: 20px;
color: aliceblue;
background-color: rgb(214, 41, 41);
border: none;
border-radius: 40%;
}

/* style dyal lformulaire  */

.lformulaire{
    
     
   .lformulaire {
  background: white;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

}
    

.booking{
  
  max-width: 500px;
  margin: 30px auto;
  padding: 25px 20px;
  background: #fff;
  border-radius: 16px;
 
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.booking input,
.booking select{
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 12px;
  
  
 
}



.booking .time{
  display: flex;
  gap: 10px;
}

.booking .time input{
  flex: 1;
}

.booking button{
  width: 100%;
  padding: 12px;
  background: #ff3b3b;
  color: #fff;
 
  border-radius: 12px;
 
}

.booking button:hover{
  background: #e63535;
}

@media (max-width: 480px){
  .booking{
    padding: 18px;
  }

  .booking .time{
    flex-direction: column;
  }
}

}
body {
  position: relative;
}


.modaldiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
//   background: rgba(0, 0, 0, 0.5);
//   z-index: 9999;

  
}


.lformulaire {
  background: white;
  width: 400px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
  display: none;
}


.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(214, 41, 41);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
