 
/* lmaps section */
.contact iframe {
  width: 100%;
  height: 60vh;
  border: none;
}
.contact{
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
}