.menutitre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: underline  4px black;
 }
 .menu{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
padding: 100px 100px ;
      div{
           img{
            width: 350px;
           }
      }
 }