.menutitre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-decoration: underline  4px black;
    padding: 40px 30px;
 }
 .menutitre div:hover{
 text-decoration: underline  4px   red;
   
 }
 .menu{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
padding: 10px 100px ;
      div{
           img{
            width: 300px;
           }
      }
 }
 .avantmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: gray;
    }
         h1 span{
            color: red;
         }
 }