/* section4dyal cards  */

.cardskolchy{
    display: flex;
    align-items: center;
   gap: 50px;
   
    padding: 20px 100px;
    background-color: antiquewhite;

}
.lcard1{
    background-color: red;
    color: white;
    width: 800px;
    height:400px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:20px ;
    padding-right:20px ;
    gap:10px;
}
.lcard2 {
    background-color: white;
    color: black;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:20px ;
    padding-right:20px ;
    gap:10px ;
}
.lcard2 i {
    border-radius: 50%;
    background-color: antiquewhite;
    width: 50px;
    padding:10px  10px ;
    color :red
}
.lcard2 i:hover{
    background-color: red;
    color: antiquewhite;
}
.lcard1 button{

        padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color :rgb(226, 226, 220);
}
.lcard1 button:hover{
    color:red;
    background-color: white;
}
