// * section 4 de photo au bag et  */
.bagrphoto{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: url(/public/photos/stats-bg.jpg);
    height: 400px;
    color: white;
    filter: brightness(80%) contrast(90%);
}