/* css dyal section 2  */
.section2{
    background-color: rgb(241, 224, 224);
    height: 90vh;

   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.leftone{
// height: 100vh;
width:50vw;
 padding: 200px 50px ;
 



}
.rightone{
    width: 50vw;
    // height: 100vh;
 padding :2px 20px  ;
  


}
.buttonlowla{
    padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:red;

}
.buttontanya {
 
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
 
  color:black;
  text-decoration: none;
  border-radius: 8px;
  
 
}

.buttontanya:hover {
  color: #cc0000;
}


@keyframes thrika {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}




.rightone img  {
  animation: thrika 2s infinite ease-in-out;
}
