* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f8f9fa;
    margin: 0;
    padding: 40px;
}

.contact-section {
    max-width: 1100px;
    margin: auto;
}

/* INFO BOXES */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.info-box {
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.info-box h4 {
    margin: 0 0 5px;
}

.icon {
    width: 50px;
    height: 50px;
    background: #e60000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

/* FORM */
.contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
   
    margin-bottom: 20px;
}

textarea {
    height: 150px;
   
}

button {
    background: #e60000;
    color: #fff;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    display: block;
    margin: auto;
}

button:hover {
    background: #c40000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr;
    }

    .form-row {
        flex-direction: column;
    }
}
